In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [5]:
df = pd.read_csv("/content/Titanic-Dataset.csv")

In [6]:
print("Basic Dataset Information")
print("Number of Rows:", df.shape[0])
print("Number of Columns:", df.shape[1])

print("\nMissing Values per Column:")
print(df.isnull().sum())

Basic Dataset Information
Number of Rows: 891
Number of Columns: 12

Missing Values per Column:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
df['Age'] = df['Age'].fillna(df['Age'].median())
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])
df.drop(columns=['PassengerId', 'Name', 'Ticket', 'Cabin'], inplace=True)
print("\nMissing Values After Handling:")
print(df.isnull().sum())

Missing Values After Handling:
Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [8]:
Q1 = df['Fare'].quantile(0.25)
Q3 = df['Fare'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
df['Fare'] = np.where(df['Fare'] < lower_bound, lower_bound, df['Fare'])
df['Fare'] = np.where(df['Fare'] > upper_bound, upper_bound, df['Fare'])

In [9]:
df = pd.get_dummies(df, columns=['Sex', 'Embarked'], drop_first=True)
le = LabelEncoder()
df['Pclass'] = le.fit_transform(df['Pclass'])

In [10]:
X = df.drop('Survived', axis=1)
y = df['Survived']

In [11]:
X_train, X_temp, y_train, y_temp = train_test_split(
    X, y, test_size=0.30, random_state=42
)
X_val, X_test, y_val, y_test = train_test_split(
    X_temp, y_temp, test_size=0.50, random_state=42
)

In [12]:
print("\nData Split Shapes:")
print("Training Set:", X_train.shape)
print("Validation Set:", X_val.shape)
print("Testing Set:", X_test.shape)

Data Split Shapes:
Training Set: (623, 8)
Validation Set: (134, 8)
Testing Set: (134, 8)