In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
df=pd.read_csv("/Titanic-Dataset.csv")
print("Basic Dataset Information")
print("No of Rows:", df.shape[0])
print("No of Columns:", df.shape[1])
df['Age']=df['Age'].fillna(df['Age'].median())
df['Embarked'].fillna(df['Embarked'].mode()[0])
df.drop(columns=['PassengerId', 'Name', 'Ticket', 'Cabin'], inplace=True)
print("\nMissing values after Handling.")
print(df.isnull().sum())

Basic Dataset Information
No of Rows: 891
No of Columns: 12

Missing values after Handling.
Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    2
dtype: int64

In [6]:
Q1 = df['Fare'].quantile(0.25)
Q3 = df['Fare'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
df['Fare'] = np.where(df['Fare'] < lower_bound, lower_bound, df['Fare'])
df['Fare'] = np.where(df['Fare'] > upper_bound, upper_bound, df['Fare'])
print(lower_bound)
print(upper_bound)

-26.724
65.6344

In [7]:
df = pd.get_dummies(df, columns=['Sex', 'Embarked'], drop_first=True)
le = LabelEncoder()
categorical_cols = df.select_dtypes(include=['object']).columns
for col in categorical_cols:
    df[col] = le.fit_transform(df[col])
X = df.drop('Survived', axis=1)
y = df['Survived']
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.30, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.50, random_state=42)
print("\nDataset Shapes:")
print("Training set:", X_train.shape, y_train.shape)
print("Validation set:", X_val.shape, y_val.shape)
print("Testing set:", X_test.shape, y_test.shape)

Dataset Shapes:
Training set: (623, 8) (623,)
Validation set: (134, 8) (134,)
Testing set: (134, 8) (134,)